layout {

    focus-ring {
        active-color   "#67c9e4"
        inactive-color "#152128"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67c9e4"
        inactive-color "#152128"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#15212870"
    }

    tab-indicator {
        active-color   "#67c9e4"
        inactive-color "#0c718d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67c9e480"
    }
}

recent-windows {
    highlight {
        active-color "#67c9e4"
        urgent-color "#fd4663"
    }
}
