 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #59B3D0;
active-foreground: #CAEAF2;
normal-background: #000513;
normal-foreground: #CAEAF2;
urgent-background: #68C3DB;
urgent-foreground: #CAEAF2;

alternate-active-background: #4BA4C6;
alternate-active-foreground: #CAEAF2;
alternate-normal-background: #000513;
alternate-normal-foreground: #CAEAF2;
alternate-urgent-background: #000513;
alternate-urgent-foreground: #CAEAF2;

selected-active-background: #59B3D0;
selected-active-foreground: #000513;
selected-normal-background: #59B3D0;
selected-normal-foreground: #000513;
selected-urgent-background: #4BA4C6;
selected-urgent-foreground: #000513;

background-color: #000513;
background: rgba(0,0,0,0.7);
foreground: #CAEAF2;
border-color: #59B3D0;

color0: #171E27;
color1: #226384;
color2: #2D6F8C;
color3: #387B94;
color4: #43869C;
color5: #4E92A4;
color6: #4E92A4;
color7: #ABD8E4;
color8: #7897A0;
color9: #2D85B1;
color10: #3C94BB;
color11: #4BA4C6;
color12: #59B3D0;
color13: #68C3DB;
color14: #68C3DB;
color15: #ABD8E4;


}

