 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #73A054;
active-foreground: #DFE6E7;
normal-background: #000400;
normal-foreground: #DFE6E7;
urgent-background: #76AB48;
urgent-foreground: #DFE6E7;

alternate-active-background: #6A8177;
alternate-active-foreground: #DFE6E7;
alternate-normal-background: #000400;
alternate-normal-foreground: #DFE6E7;
alternate-urgent-background: #000400;
alternate-urgent-foreground: #DFE6E7;

selected-active-background: #73A054;
selected-active-foreground: #000400;
selected-normal-background: #73A054;
selected-normal-foreground: #000400;
selected-urgent-background: #6A8177;
selected-urgent-foreground: #000400;

background-color: #000400;
background: rgba(0,0,0,0.7);
foreground: #DFE6E7;
border-color: #73A054;

color0: #0A1508;
color1: #1D471F;
color2: #4F5F5B;
color3: #4F6159;
color4: #56783F;
color5: #598036;
color6: #7A8B8C;
color7: #C9D4D4;
color8: #8C9494;
color9: #275F29;
color10: #697F7A;
color11: #6A8177;
color12: #73A054;
color13: #76AB48;
color14: #A3B9BA;
color15: #C9D4D4;


}

